<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="login-page">
 
    <h1>Welcome, <%= username%>!</h1>
    <br/>
    <a href="/statement">Download statements</a>
    <br>
 <p><a href="/logout">Logout</a></p>
</div>